@import "./mixin";
@import "./variables";
@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
#app {
    font-family: "Lato", sans-serif;
    //to make mobile nav not overlay content
    padding-bottom: 100px;
    overflow-x: hidden;
    font-weight: 300;
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
    .app-content {
        min-height: 40vh;
    }
    background-color: white;
    &.app-dark {
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
        color: white;
    }
}

.container {
    width: calc(100% - 30px);
    margin: 15px auto;
    @media (min-width: 768px) {
        width: 90%;
    }
    @media (min-width: 992px) {
        width: 80%;
    }
    @media (min-width: 1200px) {
        width: 70%;
    }
    @media (min-width: 1400px) {
        width: 65%;
        max-width: 1200px;
    }
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .checkbox-wrapper input[type="checkbox"] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, 0.3);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper input[type="checkbox"]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper input[type="checkbox"]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    .checkbox-wrapper input[type="checkbox"]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    .checkbox-wrapper input[type="checkbox"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    .checkbox-wrapper input[type="checkbox"]:disabled + label {
        cursor: not-allowed;
    }
    .checkbox-wrapper input[type="checkbox"]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    .checkbox-wrapper input[type="checkbox"]:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch) {
        width: 21px;
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):after {
        opacity: var(--o, 0);
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):checked {
        --o: 1;
    }
    .checkbox-wrapper input[type="checkbox"] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch) {
        border-radius: 7px;
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper input[type="checkbox"]:not(.switch):checked {
        --r: 43deg;
    }
    .checkbox-wrapper input[type="checkbox"].switch {
        width: 38px;
        border-radius: 11px;
    }
    .checkbox-wrapper input[type="checkbox"].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    .checkbox-wrapper input[type="checkbox"].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    .checkbox-wrapper input[type="checkbox"].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
}

.checkbox-wrapper * {
    box-sizing: inherit;
}

.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
    box-sizing: inherit;
}

input[type="text"],
input[type="number"] {
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border: 1px solid gray;
    min-width: 200px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color 0.24s, box-shadow 0.24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    :focus {
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
}

/* CSS */

button {
    appearance: button;
    backface-visibility: hidden;
    background-color: $secondary-green;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0,
        rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 5px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

button:disabled {
    cursor: default;
}

button:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0,
        rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styled-table thead th {
    color: #ffffff;
}

.styled-table thead tr {
    background-color: $secondary-green;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid $secondary-green;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #032854;
}
